body{
    background-image: url('src/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
* {
    box-sizing: border-box;
  }
.column {
    float: left;
    min-width: 10%;
    width: 28%;
    padding: 10px;
    min-height: 400px;;
    height: auto;
    margin-left: 2%;
    margin-top: 3%;
    background-color: #f5af7328;
    background-image: linear-gradient(rgba(255, 255, 255, 0.527),rgba(157, 216, 103, 0.26));
    border-style: solid;
    border-color: #474743;
    border-radius: 4px;
    border-width: 2px; 
  }
 .row:after {
    content: "";
    display: table;
    clear: both;
  }
@media only screen and (min-width: 500px){
.textbox-styling{
    cursor: pointer;
    width: 90%;
    height: 38px;
    margin-left: 3%;
    border-style: solid;
    border-color: rgb(83, 82, 82);
    border-width: 1px;
    border-radius: 5px;
    margin-top: 6%;
    text-align: center;
    box-shadow: 2px 2px #dab3ff;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: bold;
}
  }
.heading1{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: auto;
    vertical-align: middle;
    text-align: center;
}
.heading2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: auto;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.div-style{
    position: absolute;
    cursor: move;
    user-select: none;
    text-align: center;
    background:rgba(246, 230, 7, 0.787);
    border-color: #252525;
    border-width: 1px;
    color:rgb(0, 0, 0);
    max-height: auto;
    height:10%;
    line-Height:40px;
    padding:0 5px;
    position:relative;
    border-Radius:5px;
    font-Size:18px;
    font-weight: bold;
    max-width: auto; ;
    width:90%;
    margin-right: 1%;
    margin-left: 3%;
    margin-top: 3%;
    font-family: 'Poppins', sans-serif;
    box-Shadow:1px 1px gray
}
.div-style:hover{
    background-color:rgb(255, 208, 0) ;
}
.head1{
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    padding: 3px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.329);
}
.close-style{
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-size: x-large;
    color: #474743;
    font-family:'Poppins', sans-serif;
    vertical-align: middle;
}
.close-style:hover{
    color:red;
}
.t2{
    position: absolute;
    cursor: move;
    user-select: none;
    text-align: center;
    background:rgba(95, 246, 7, 0.787);
    border-color: #252525;
    border-width: 2px;
    color:rgb(0, 0, 0);
    max-height: auto;
    height:10%;
    line-Height:40px;
    padding:0 5px;
    position:relative;
    border-Radius:5px;
    font-Size:18px;
    font-weight: bold;
    max-width: auto; ;
    width:90%;
    margin-right: 1%;
    margin-left: 3%;
    margin-top: 3%;
    font-family: 'Poppins', sans-serif;
    box-Shadow:1px 1px gray;
    opacity: 1;
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .column,.textbox-styling{
      width: 100%;
    }
  }